body {
    text-align: center;
    background: linear-gradient(#FF6F00 35%, #F44336 65%);
    background-repeat: no-repeat;
}

.line {
    height: 7px;
    background-color: black;
    width: 100px;
    margin: 8px auto;
}

h1 {
    text-shadow: 2px 2px #F8BBDO;
    font-size: 30px;
}

.bio {
    padding: 20px;
    font-size: 18px;
    text-align: center;
}

img {
    border-radius: 50%;
    width: 200px;
}

#naruto {
    font-family: 'Stint Ultra Condensed', cursive;
}

.menu {
    list-style: none;
    font-family: cursive;
    float: right;
    right: 30px;
    top: 10px;
    cursor: pointer;
    color: black;
}

.links {
    float: left;
    color: white;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: 'Pattaya', sans-serif;
    font-size: 20;
}

.links: hover {
    background-color: blue;
}
